# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
../../Day1/bin
../../Day1/obj
/.bin
/.obj
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
